@model IEnumerable<PersonProject.Model.Person>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <p>
        <a href="/Person">Create new Person</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th colspan="3">&nbsp;</th>
        </tr>
    
    @foreach (var person in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                <a href="/Person/@person.Id">Details</a>
            </td>
            <td>
                <a href="/Person/Edit/@person.Id">Edit</a>
            </td>
            <td>
                <a href="/Person/Delete/@person.Id">Delete</a>
            </td>
        </tr>
    } 
    </table>
</body>
</html>
